@{
    Layout = null;
} <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> Page pour les utilisateurs ayant les rˆoles Admin ou User </div>
</body>
</html>